[user]
	name = Simon Woolf
	;email = simon@simonwoolf.net
  ;email = simon.woolf@econsultancy.com
  email = simon@ably.io
[core]
	autocrlf = input
	safecrlf = warn
	editor = vim -f
	pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
  followTags = true
  tags = true
[rebase]
  autosquash = true
[stash]
  includeUntracked = true
[status]
  showUntrackedFiles = all
[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ;lg = !"git lg1"
  co = checkout
  cm = commit
  rb = rebase
  ri = rebase --interactive
  f = fetch
  d = diff
  poh = push origin HEAD
  ps = push
  pl = pull
  fo = fetch origin
  fco = "!f() { git fetch origin $1 && git checkout $1; }; f"
  a = add
  c = commit
  s = status
  b = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  bo = for-each-ref --sort=committerdate refs/remotes/origin --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  sha = rev-parse HEAD
  ghfork = "!f() { git remote rename origin upstream && git remote add origin git@github.com:SimonWoolf/$1.git; }; f"
  gr = grep -i
  # for excluding: gr = "!f() { git grep -i \"$1\" | grep -v 'browser/static'; }; f"
  pst = push --tags
  su = submodule update --init
[merge]
  tool = kdiff3
	conflictstyle = diff3
[git-up "rebase"]
	auto = false
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[submodule]
	;recurse = true
