.DS_Store
tags
instructions
scratchpad
dump.rdb
do-not-track/
.apikeys
._vimrc
session.vim
.ctags
*.swp
*.swo
tmp.test.js
test/connection/tmp.js
.fuse_hidden*
tmp.js

i3_config
sway_config
i3status_config

.env
